{
  "openapi": "3.1.0",
  "info": {
    "title": "Kang Open Banking API",
    "version": "2.1.0",
    "description": "COBAC-compliant Open Banking API for Cameroon and the CEMAC region. Enables account information (AISP), payment initiation (PISP), refunds, credit scoring, mobile money integration (MTN, Orange), virtual cards, settlements, disputes, transaction exports, risk management, audit trails, ISO 20022 messaging, payment links, recurring subscriptions, split payments, customer tokenization, and charge event timelines. Full dynamic specification available at the x-full-spec-url below.",
    "x-full-spec-url": "https://api.kangopenbanking.com/functions/v1/public-api-spec",
    "contact": {
      "name": "Kang Open Banking Developer Support",
      "email": "developers@kangopenbanking.com",
      "url": "https://kangopenbanking.com/developer"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://kangopenbanking.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.kangopenbanking.com/v1",
      "description": "Production"
    },
    {
      "url": "https://api.kangopenbanking.com/v1",
      "description": "Sandbox (use sandbox API keys)",
      "x-environment": "sandbox"
    }
  ],
  "security": [
    { "oauth2": ["accounts", "payments"] },
    { "bearerAuth": [] }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "API Health Check",
        "operationId": "getHealth",
        "tags": ["System"],
        "security": [],
        "responses": {
          "200": { "description": "API is healthy" }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Request Access Token",
        "operationId": "createToken",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": { "type": "string", "enum": ["client_credentials", "authorization_code"] },
                  "client_id": { "type": "string" },
                  "client_secret": { "type": "string" }
                },
                "required": ["grant_type", "client_id", "client_secret"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Access token issued" }
        }
      }
    },
    "/aisp/accounts": {
      "get": {
        "summary": "List Accounts",
        "operationId": "listAccounts",
        "tags": ["AISP"],
        "parameters": [
          { "name": "x-consent-id", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "List of accounts" }
        }
      }
    },
    "/pisp/domestic-payments": {
      "post": {
        "summary": "Initiate Domestic Payment",
        "operationId": "createDomesticPayment",
        "tags": ["PISP"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } },
          { "name": "x-consent-id", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Payment initiated" }
        }
      }
    },
    "/payments/refund": {
      "post": {
        "summary": "Initiate Refund",
        "operationId": "createRefund",
        "tags": ["Refunds"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Refund initiated" }
        }
      }
    },
    "/payments/refunds/{refundId}": {
      "get": {
        "summary": "Get Refund Status",
        "operationId": "getRefund",
        "tags": ["Refunds"],
        "parameters": [
          { "name": "refundId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Refund details" }
        }
      }
    },
    "/payments/refunds": {
      "get": {
        "summary": "List Refunds",
        "operationId": "listRefunds",
        "tags": ["Refunds"],
        "responses": {
          "200": { "description": "List of refunds" }
        }
      }
    },
    "/payments/split": {
      "post": {
        "summary": "Split Payment",
        "operationId": "createSplitPayment",
        "tags": ["Settlements"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Split payment created" }
        }
      }
    },
    "/mobile-money/charge": {
      "post": {
        "summary": "Charge Mobile Money",
        "operationId": "chargeMobileMoney",
        "tags": ["Mobile Money"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Charge initiated" }
        }
      }
    },
    "/mobile-money/reverse": {
      "post": {
        "summary": "Reverse Mobile Money Charge",
        "operationId": "reverseMobileMoney",
        "tags": ["Refunds"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Reversal initiated" }
        }
      }
    },
    "/credit/query": {
      "post": {
        "summary": "Query Credit Score",
        "operationId": "queryCreditScore",
        "tags": ["Credit Scoring"],
        "responses": {
          "200": { "description": "Credit score result" }
        }
      }
    },
    "/banks": {
      "get": {
        "summary": "List Supported Banks",
        "operationId": "listBanks",
        "tags": ["Beneficiaries"],
        "parameters": [
          { "name": "country", "in": "query", "required": false, "schema": { "type": "string", "default": "CM" } }
        ],
        "responses": {
          "200": { "description": "List of supported banks" }
        }
      }
    },
    "/banks/validate-account": {
      "post": {
        "summary": "Validate Bank Account",
        "operationId": "validateBankAccount",
        "tags": ["Beneficiaries"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Account validation result" }
        }
      }
    },
    "/beneficiaries": {
      "get": {
        "summary": "List Beneficiaries",
        "operationId": "listBeneficiaries",
        "tags": ["Beneficiaries"],
        "responses": {
          "200": { "description": "List of saved beneficiaries" }
        }
      },
      "post": {
        "summary": "Create Beneficiary",
        "operationId": "createBeneficiary",
        "tags": ["Beneficiaries"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Beneficiary created" }
        }
      }
    },
    "/beneficiaries/{beneficiaryId}": {
      "delete": {
        "summary": "Delete Beneficiary",
        "operationId": "deleteBeneficiary",
        "tags": ["Beneficiaries"],
        "parameters": [
          { "name": "beneficiaryId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "204": { "description": "Beneficiary deactivated" }
        }
      }
    },
    "/settlements/schedule": {
      "get": {
        "summary": "Get Settlement Schedule",
        "operationId": "getSettlementSchedule",
        "tags": ["Settlements"],
        "responses": {
          "200": { "description": "Settlement schedule" }
        }
      }
    },
    "/settlements/reports": {
      "get": {
        "summary": "Get Settlement Reports",
        "operationId": "getSettlementReports",
        "tags": ["Settlements"],
        "responses": {
          "200": { "description": "Settlement reports" }
        }
      }
    },
    "/fees/schedule": {
      "get": {
        "summary": "Get Fee Schedule",
        "operationId": "getFeeSchedule",
        "tags": ["Settlements"],
        "responses": {
          "200": { "description": "Fee schedule" }
        }
      }
    },
    "/disputes": {
      "get": {
        "summary": "List Disputes",
        "operationId": "listDisputes",
        "tags": ["Disputes"],
        "responses": {
          "200": { "description": "List of disputes" }
        }
      }
    },
    "/disputes/{disputeId}": {
      "get": {
        "summary": "Get Dispute Details",
        "operationId": "getDispute",
        "tags": ["Disputes"],
        "parameters": [
          { "name": "disputeId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Dispute details" }
        }
      }
    },
    "/disputes/{disputeId}/evidence": {
      "post": {
        "summary": "Submit Dispute Evidence",
        "operationId": "submitDisputeEvidence",
        "tags": ["Disputes"],
        "parameters": [
          { "name": "disputeId", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Evidence submitted" }
        }
      }
    },
    "/exports/transactions": {
      "post": {
        "summary": "Request Transaction Export",
        "operationId": "createExport",
        "tags": ["Exports"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Export request created" }
        }
      }
    },
    "/exports/{exportId}": {
      "get": {
        "summary": "Get Export Status",
        "operationId": "getExport",
        "tags": ["Exports"],
        "parameters": [
          { "name": "exportId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Export details with download URL" }
        }
      }
    },
    "/exports": {
      "get": {
        "summary": "List Exports",
        "operationId": "listExports",
        "tags": ["Exports"],
        "responses": {
          "200": { "description": "List of exports" }
        }
      }
    },
    "/risk/limits": {
      "get": {
        "summary": "Get Transaction Limits",
        "operationId": "getRiskLimits",
        "tags": ["Risk & Operations"],
        "responses": {
          "200": { "description": "Transaction limits" }
        }
      },
      "put": {
        "summary": "Update Transaction Limits",
        "operationId": "updateRiskLimits",
        "tags": ["Risk & Operations"],
        "responses": {
          "200": { "description": "Limits updated" }
        }
      }
    },
    "/risk/rules": {
      "get": {
        "summary": "List Risk Rules",
        "operationId": "listRiskRules",
        "tags": ["Risk & Operations"],
        "responses": {
          "200": { "description": "List of risk rules" }
        }
      },
      "post": {
        "summary": "Create Risk Rule",
        "operationId": "createRiskRule",
        "tags": ["Risk & Operations"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Risk rule created" }
        }
      }
    },
    "/audit/logs": {
      "get": {
        "summary": "Query Audit Trail",
        "operationId": "getAuditLogs",
        "tags": ["Risk & Operations"],
        "responses": {
          "200": { "description": "Audit log entries" }
        }
      }
    },
    "/admin/create-user": {
      "post": {
        "summary": "Create Platform User",
        "operationId": "adminCreateUser",
        "tags": ["Admin"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "User created" }
        }
      }
    },
    "/admin/create-client": {
      "post": {
        "summary": "Create API Client",
        "operationId": "adminCreateClient",
        "tags": ["Admin"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "API client created" }
        }
      }
    },
    "/gateway/payment-links": {
      "post": {
        "summary": "Create Payment Link",
        "operationId": "createPaymentLink",
        "tags": ["Payment Links"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchant_id": { "type": "string", "format": "uuid" },
                  "title": { "type": "string" },
                  "amount": { "type": "number" },
                  "currency": { "type": "string", "default": "XAF" },
                  "description": { "type": "string" },
                  "redirect_url": { "type": "string", "format": "uri" },
                  "max_uses": { "type": "integer" },
                  "expires_at": { "type": "string", "format": "date-time" }
                },
                "required": ["merchant_id", "title", "amount"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Payment link created" }
        }
      },
      "get": {
        "summary": "List Payment Links",
        "operationId": "listPaymentLinks",
        "tags": ["Payment Links"],
        "parameters": [
          { "name": "merchant_id", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "List of payment links" }
        }
      }
    },
    "/gateway/payment-links/{slug}": {
      "get": {
        "summary": "Get Payment Link",
        "operationId": "getPaymentLink",
        "tags": ["Payment Links"],
        "security": [],
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Payment link details" }
        }
      }
    },
    "/gateway/payment-plans": {
      "post": {
        "summary": "Create Payment Plan",
        "operationId": "createPaymentPlan",
        "tags": ["Subscriptions"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchant_id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string" },
                  "amount": { "type": "number" },
                  "currency": { "type": "string", "default": "XAF" },
                  "interval": { "type": "string", "enum": ["daily", "weekly", "monthly", "yearly"] },
                  "interval_count": { "type": "integer", "default": 1 },
                  "duration": { "type": "integer" }
                },
                "required": ["merchant_id", "name", "amount"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Payment plan created" }
        }
      }
    },
    "/gateway/subscriptions": {
      "post": {
        "summary": "Create Subscription",
        "operationId": "createSubscription",
        "tags": ["Subscriptions"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchant_id": { "type": "string", "format": "uuid" },
                  "plan_id": { "type": "string", "format": "uuid" },
                  "customer_email": { "type": "string", "format": "email" },
                  "customer_phone": { "type": "string" },
                  "customer_name": { "type": "string" }
                },
                "required": ["merchant_id", "plan_id", "customer_email"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Subscription created" }
        }
      }
    },
    "/gateway/subscriptions/cancel": {
      "post": {
        "summary": "Cancel Subscription",
        "operationId": "cancelSubscription",
        "tags": ["Subscriptions"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscription_id": { "type": "string", "format": "uuid" },
                  "reason": { "type": "string" }
                },
                "required": ["subscription_id"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Subscription cancelled" }
        }
      }
    },
    "/gateway/subaccounts": {
      "post": {
        "summary": "Create Subaccount",
        "operationId": "createSubaccount",
        "tags": ["Split Payments"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchant_id": { "type": "string", "format": "uuid" },
                  "subaccount_name": { "type": "string" },
                  "settlement_bank": { "type": "string" },
                  "account_number": { "type": "string" },
                  "split_type": { "type": "string", "enum": ["percentage", "flat"] },
                  "split_value": { "type": "number" }
                },
                "required": ["merchant_id", "subaccount_name", "split_value"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Subaccount created" }
        }
      },
      "get": {
        "summary": "List Subaccounts",
        "operationId": "listSubaccounts",
        "tags": ["Split Payments"],
        "parameters": [
          { "name": "merchant_id", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "List of subaccounts" }
        }
      }
    },
    "/gateway/customers": {
      "post": {
        "summary": "Create Customer",
        "operationId": "createCustomer",
        "tags": ["Tokenization"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchant_id": { "type": "string", "format": "uuid" },
                  "email": { "type": "string", "format": "email" },
                  "name": { "type": "string" },
                  "phone": { "type": "string" }
                },
                "required": ["merchant_id", "email"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Customer created" }
        }
      }
    },
    "/gateway/charges/token": {
      "post": {
        "summary": "Charge Saved Token",
        "operationId": "chargeToken",
        "tags": ["Tokenization"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchant_id": { "type": "string", "format": "uuid" },
                  "token_id": { "type": "string", "format": "uuid" },
                  "amount": { "type": "number" },
                  "currency": { "type": "string", "default": "XAF" },
                  "tx_ref": { "type": "string" }
                },
                "required": ["merchant_id", "token_id", "amount", "tx_ref"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Token charge result" }
        }
      }
    },
    "/gateway/charges/{chargeId}/events": {
      "get": {
        "summary": "Get Charge Events",
        "operationId": "getChargeEvents",
        "tags": ["Charge Events"],
        "parameters": [
          { "name": "chargeId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Charge event timeline" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://api.kangopenbanking.com/v1/oauth/token",
            "scopes": {
              "accounts": "Access account information",
              "balances": "Access account balances",
              "transactions": "Access transaction history",
              "payments": "Initiate payments"
            }
          },
          "authorizationCode": {
            "authorizationUrl": "https://api.kangopenbanking.com/v1/oauth/authorize",
            "tokenUrl": "https://api.kangopenbanking.com/v1/oauth/token",
            "scopes": {
              "openid": "OpenID Connect",
              "accounts": "Access account information",
              "payments": "Initiate payments"
            }
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "tags": [
    { "name": "System", "description": "Health and status endpoints" },
    { "name": "Authentication", "description": "OAuth 2.0 token management" },
    { "name": "AISP", "description": "Account Information Service Provider" },
    { "name": "PISP", "description": "Payment Initiation Service Provider" },
    { "name": "Refunds", "description": "Payment refunds and reversals" },
    { "name": "Mobile Money", "description": "MTN and Orange Money integration" },
    { "name": "Beneficiaries", "description": "Bank lists, account validation, and saved beneficiaries" },
    { "name": "Settlements", "description": "Settlement schedules, reports, fees, and split payments" },
    { "name": "Disputes", "description": "Card payment disputes and chargebacks" },
    { "name": "Exports", "description": "Transaction data exports in CSV, JSON, PDF" },
    { "name": "Credit Scoring", "description": "Credit score queries and reports" },
    { "name": "Risk & Operations", "description": "Risk rules, transaction limits, and audit trails" },
    { "name": "Admin", "description": "Platform administration endpoints" },
    { "name": "Payment Links", "description": "No-code shareable payment links with hosted checkout" },
    { "name": "Subscriptions", "description": "Recurring billing plans and customer subscriptions" },
    { "name": "Split Payments", "description": "Marketplace subaccounts and charge split distribution" },
    { "name": "Tokenization", "description": "Customer profiles and saved payment method tokens" },
    { "name": "Charge Events", "description": "Granular charge lifecycle event timeline" }
  ]
}
