{
  "openapi": "3.1.0",
  "info": {
    "title": "Kang Open Banking API",
    "version": "3.0.0",
    "description": "This is a summary specification. The full dynamic OpenAPI specification with 250+ endpoints is available at the x-full-spec-url below. AI agents and tooling should fetch the full spec for complete coverage.",
    "x-full-spec-url": "https://api.kangopenbanking.com/functions/v1/public-api-spec",
    "contact": {
      "name": "Kang Open Banking Developer Support",
      "email": "developers@kangopenbanking.com",
      "url": "https://kangopenbanking.com/developer"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://kangopenbanking.com/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.kangopenbanking.com/v1",
      "description": "Production",
      "x-environment": "production"
    },
    {
      "url": "https://api.kangopenbanking.com/v1",
      "description": "Sandbox — use sandbox API keys obtained from the developer portal at https://kangopenbanking.com/developer/sandbox",
      "x-environment": "sandbox"
    }
  ],
  "externalDocs": {
    "description": "Full dynamic OpenAPI specification (250+ endpoints)",
    "url": "https://api.kangopenbanking.com/functions/v1/public-api-spec"
  },
  "security": [
    { "oauth2": ["accounts", "payments"] },
    { "bearerAuth": [] }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "API Health Check",
        "operationId": "getHealth",
        "tags": ["System"],
        "security": [],
        "responses": {
          "200": { "description": "API is healthy", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/HealthStatus" } } } }
        }
      }
    },
    "/oauth/token": {
      "post": {
        "summary": "Request Access Token",
        "operationId": "createToken",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": { "type": "string", "enum": ["client_credentials", "authorization_code", "refresh_token"] },
                  "client_id": { "type": "string" },
                  "client_secret": { "type": "string" },
                  "code": { "type": "string" },
                  "redirect_uri": { "type": "string" },
                  "code_verifier": { "type": "string" },
                  "refresh_token": { "type": "string" }
                },
                "required": ["grant_type", "client_id"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Access token issued" },
          "400": { "description": "Invalid request", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Authentication failed", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/aisp/accounts": {
      "get": {
        "summary": "List Accounts (AISP)",
        "operationId": "listAccounts",
        "tags": ["AISP — Account Information"],
        "parameters": [
          { "name": "x-consent-id", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "List of accounts" },
          "401": { "description": "Unauthorized", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "403": { "description": "Forbidden — insufficient scope", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/pisp/domestic-payments": {
      "post": {
        "summary": "Initiate Domestic Payment (PISP)",
        "operationId": "createDomesticPayment",
        "tags": ["PISP — Payment Initiation"],
        "parameters": [
          { "name": "Idempotency-Key", "in": "header", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "x-consent-id", "in": "header", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "201": { "description": "Payment initiated" },
          "400": { "description": "Validation error", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "422": { "description": "Business rule violation", "content": { "application/problem+json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/gateway/charges": {
      "post": {
        "summary": "Create Charge",
        "operationId": "gatewayCreateCharge",
        "tags": ["Payment Gateway"],
        "responses": { "201": { "description": "Charge created" } }
      },
      "get": {
        "summary": "List Charges",
        "operationId": "gatewayListCharges",
        "tags": ["Payment Gateway"],
        "responses": { "200": { "description": "Charges list" } }
      }
    },
    "/gateway/payouts": {
      "post": {
        "summary": "Create Payout",
        "operationId": "gatewayCreatePayout",
        "tags": ["Payment Gateway"],
        "responses": { "201": { "description": "Payout created" } }
      }
    },
    "/gateway/refunds": {
      "post": {
        "summary": "Create Refund",
        "operationId": "gatewayCreateRefund",
        "tags": ["Payment Gateway"],
        "responses": { "201": { "description": "Refund created" } }
      }
    },
    "/gateway/disputes": {
      "get": {
        "summary": "List Disputes",
        "operationId": "gatewayListDisputes",
        "tags": ["Payment Gateway"],
        "responses": { "200": { "description": "Disputes list" } }
      }
    },
    "/gateway/merchants": {
      "post": {
        "summary": "Register Merchant",
        "operationId": "gatewayRegisterMerchant",
        "tags": ["Merchants"],
        "responses": { "201": { "description": "Merchant registered" } }
      }
    },
    "/gateway/webhooks": {
      "post": {
        "summary": "Register Webhook Endpoint",
        "operationId": "gatewayRegisterWebhook",
        "tags": ["Webhooks"],
        "responses": { "201": { "description": "Webhook registered" } }
      },
      "get": {
        "summary": "List Webhook Endpoints",
        "operationId": "gatewayListWebhooks",
        "tags": ["Webhooks"],
        "responses": { "200": { "description": "Webhook endpoints" } }
      }
    },
    "/loans/apply": {
      "post": {
        "summary": "Apply for Loan",
        "operationId": "loansApply",
        "tags": ["Loans"],
        "responses": { "201": { "description": "Application submitted" } }
      }
    },
    "/savings/create": {
      "post": {
        "summary": "Create Savings Account",
        "operationId": "savingsCreate",
        "tags": ["Savings"],
        "responses": { "201": { "description": "Savings account created" } }
      }
    },
    "/ledger/journal": {
      "post": {
        "summary": "Post Journal Entry",
        "operationId": "ledgerJournal",
        "tags": ["Ledger"],
        "responses": { "201": { "description": "Journal entry posted" } }
      }
    },
    "/cards/create": {
      "post": {
        "summary": "Create Virtual Card",
        "operationId": "cardsCreate",
        "tags": ["Virtual Cards"],
        "responses": { "201": { "description": "Virtual card created" } }
      }
    },
    "/standards/validate-iban": {
      "post": {
        "summary": "Validate IBAN",
        "operationId": "validateIban",
        "tags": ["Standards & Directory"],
        "responses": { "200": { "description": "Validation result" } }
      }
    },
    "/kyc/submit": {
      "post": {
        "summary": "Submit KYC Documents",
        "operationId": "kycSubmit",
        "tags": ["KYC & Compliance"],
        "responses": { "201": { "description": "KYC submission accepted" } }
      }
    },
    "/mobile-money/charge": {
      "post": {
        "summary": "Initiate Mobile Money Charge",
        "operationId": "mobileMoneyCharge",
        "tags": ["Mobile Money"],
        "responses": { "201": { "description": "Charge initiated" } }
      }
    },
    "/certificates/upload": {
      "post": {
        "summary": "Upload mTLS Certificate",
        "operationId": "certificatesUpload",
        "tags": ["Certificates"],
        "responses": { "201": { "description": "Certificate uploaded" } }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["error", "error_code", "message", "error_id", "timestamp"],
        "properties": {
          "error": { "type": "string", "description": "Machine-readable error code (snake_case)", "example": "invalid_request" },
          "error_code": { "type": "string", "description": "Domain-prefixed error code", "example": "AUTH_001" },
          "message": { "type": "string", "description": "Human-readable description" },
          "details": { "type": "object", "additionalProperties": true },
          "error_id": { "type": "string", "example": "err_a1b2c3d4" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "HealthStatus": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["healthy", "degraded", "unhealthy"] },
          "version": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "WebhookEventType": {
        "type": "string",
        "enum": [
          "charge.created", "charge.processing", "charge.successful", "charge.failed",
          "charge.cancelled", "charge.voided", "charge.captured", "charge.refunded",
          "payout.created", "payout.processing", "payout.completed", "payout.failed",
          "refund.created", "refund.completed", "refund.failed",
          "dispute.created", "dispute.won", "dispute.lost",
          "settlement.paid",
          "consent.created", "consent.authorised", "consent.revoked", "consent.expired",
          "account.updated"
        ],
        "description": "All 24 supported webhook event types"
      }
    },
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://api.kangopenbanking.com/functions/v1/oauth-authorize",
            "tokenUrl": "https://api.kangopenbanking.com/functions/v1/oauth-token",
            "scopes": {
              "openid": "OpenID Connect identity",
              "accounts": "Read account information (AISP)",
              "balances": "Read account balances",
              "transactions": "Read transaction history",
              "payments": "Initiate payments (PISP)",
              "offline_access": "Refresh token grant"
            }
          },
          "clientCredentials": {
            "tokenUrl": "https://api.kangopenbanking.com/functions/v1/oauth-token",
            "scopes": {
              "accounts": "Read account information",
              "payments": "Initiate payments"
            }
          }
        }
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "mtls": {
        "type": "mutualTLS",
        "description": "mTLS client certificate authentication for FAPI 1.0 Advanced flows"
      }
    }
  },
  "tags": [
    { "name": "System", "description": "Health and status endpoints" },
    { "name": "Authentication", "description": "OAuth 2.0, OIDC, DCR, PKCE" },
    { "name": "AISP — Account Information", "description": "Account information services (read-only)" },
    { "name": "PISP — Payment Initiation", "description": "Payment initiation services" },
    { "name": "Payment Gateway", "description": "Charges, payouts, refunds, disputes, settlements, payment links, subscriptions, split payments" },
    { "name": "Merchants", "description": "Merchant registration, KYB, API keys, webhooks" },
    { "name": "Webhooks", "description": "Webhook endpoint management and delivery monitoring" },
    { "name": "Loans", "description": "Loan applications, approvals, disbursements, repayments" },
    { "name": "Savings", "description": "Savings products, accounts, deposits, withdrawals, interest" },
    { "name": "Ledger", "description": "Chart of accounts, journal entries, trial balance" },
    { "name": "Virtual Cards", "description": "Virtual card issuance, funding, transactions" },
    { "name": "Mobile Money", "description": "MTN and Orange Money charges and transfers" },
    { "name": "KYC & Compliance", "description": "Identity verification, sanctions screening, CDD" },
    { "name": "Standards & Directory", "description": "IBAN/BIC/RIB validation, bank directory, ISO 20022, SWIFT" },
    { "name": "Certificates", "description": "mTLS certificate management" },
    { "name": "Consumer Tools", "description": "Piggy Bank savings goals, Njangi group savings" }
  ]
}
